body {
margin: 0;
font-family: Arial;
background: linear-gradient(120deg, #004aad, #00c6ff);
color: white;
}


.navbar {
display: flex;
justify-content: space-between;
padding: 15px;
background: #002f6c;
}


.tabs button {
margin: 5px;
padding: 10px;
border: none;
background: #00c6ff;
color: black;
cursor: pointer;
}


.tabs .active {
background: gold;
}


.content {
padding: 40px;
}